@use '../utils/mixins';

app-expandable-list {
  @include mixins.normalize-angular-component;

  #header-content {
    @include mixins.vertically-center;
    @include mixins.clip-font-w-ellipsis;

    padding: 0 10px;
    color: var(--list-header-font-color, white);
    mat-checkbox {
      margin-bottom: 3px;
      label {
        width: 16px !important;
      }
      .mat-checkbox-frame {
        border-color: var(--list-header-font-color, white);
      }
    }

    span {
      margin-left: 10px;
      @include mixins.clip-font-w-ellipsis;
      font-size: var(--list-header-font-size, 16px);
      font-weight: 500;
    }
  }
}
