@use '../utils/mixins';
// A specific implementation of a list layout
// This is designed to show key value information pairs
// using the shared appearance of other list-like elements

app-key-value-list {
  @include mixins.normalize-angular-component;

  // Even though there is a basic, shared, header-content
  // display definition key-value list has additional
  // unique characteristics to apply to the header
  #header-content {
    @include mixins.vertically-center;

    padding-left: 20px;
    font-size: var(--list-header-font-size, 16px);

    // Specifically for text, this helps
    // provide ellipsis when needed
    overflow: hidden;

    b {
      @include mixins.clip-font-w-ellipsis;
    }
  }

  #list-body {
    padding: 0px 5px;
    .column-header {
      @include mixins.vertically-center;

      padding-left: 10px;
      border-bottom: 1px solid var(--list-border-color, lightgray);
      font-size: var(--key-value-entry-font-size, 14px);
      color: var(--key-value-column-header-font-color, #494949);
      height: var(--list-entry-height, 40px);

      // Ensures that elements split evenly within the flex
      // container (providing desired horizontal alignment)
      b {
        width: 50%;
      }
    }
    // Implement list as a UL, as one does for A11Y,
    // but clear the default appearance
    ul {
      @include mixins.clear-ul-style;
    }

    li {
      @include mixins.vertically-center;

      padding: 0 0 0 10px;
      font-size: var(--key-value-entry-font-size, 14px);
      color: var(--key-value-entry-font-color, #212121);
      height: var(--list-entry-height, 40px);
      border-bottom: 1px solid var(--list-border-color, lightgray);

      span {
        // Ensures that elements split evenly within the flex
        // container (providing desired horizontal alignment)
        width: 50%;
        min-width: 50%;

        // Prevent text overflow for size constrained lists
        white-space: nowrap;

        // Span needs to take up entire vertical space so that
        // the hover title works anywhere within the "cell".
        // But by doing so, it is now necessary to specify
        // another layer of vertical centering
        height: 100%;
        display: inline-flex;
        align-items: center;

        //  text-overflow does not work with flex'ed elements
        //  the div nested in the span allows us to flex the spans
        //  and provide text-overflow directions on the div
        div {
          @include mixins.clip-font-w-ellipsis;
        }
      }
    }
  }
}
