@use '../utils/mixins';

// Defines the shared layout characteristics of
// the various lists, trees and sidebar trees

app-list-container {
  border: 1px solid var(--list-border-color, lightgray);

  // Even though this is a simple two-element layout
  // flex (or grid) is still needed to allow for scrolling
  // overflow in the absence of fixed size constraints
  @include mixins.normalize-angular-component(flex);
  flex-direction: column;

  .header {
    @include mixins.vertically-center;

    background-color: var(--list-header-background-color,  #212121);
    color: var(--list-header-font-color,  white);

    // Prevent the header from shrinking in an attempt to satisfy
    // external size constraints
    min-height: var(--list-header-height, 50px);
  }

  .body {
    overflow-y: auto;
  }

}
