@use '../utils/mixins';

app-sidebar-list {
  @include mixins.normalize-angular-component;

  #header-content {
    width: 100%;
    @include mixins.vertically-center;
    color: var(--list-header-font-color, white);
    font-size: 12px;
    justify-content: flex-end;
    margin-right: 5px;

    button {
      height: 35px;
      width: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      .mat-icon {
        height: 25px;
        width: 25px;
      }
    }

    & > .visibility-menu-toggle {
      @include mixins.vertically-center;
      padding: 0 5px;
      margin: 0 5px;
      border-left: 1px solid lightgray;
      border-right: 1px solid lightgray;
    }

    & > .search-mode {
      @include mixins.vertically-center;

      & > .custom-header-search {
        margin-right: 5px;
      }
    }
  }

  #list-body {
    .mat-tree-node {
      min-height: 40px !important;
      height: 40px !important;
    }

    .invisible {
      display: none;
    }

    mat-nested-tree-node > li {
      border-bottom: 1px solid lightgray;
    }

    ul,
    li {
      margin-top: 0;
      margin-bottom: 0;
      list-style-type: none;
    }

    ul {
      padding-left: 20px;
    }

    ul li {
      border-left: 1px solid lightgrey;
    }

    .mat-tree-node button {
      margin-right: 5px;
    }

    .mat-tree-category {
      font-size: 14px;
      font-weight: 500;
      color: #212121;
    }

    .mat-tree-node {
      @include mixins.vertically-center;
    }

    .expand-toggle {
      font-size: 18px;
      margin-bottom: 3px;
      font-weight: bolder;
    }

    .selection-toggle {
      margin-right: 10px;
    }

    mat-checkbox {
      margin-bottom: 3px;
      .mat-checkbox-frame {
        border-color: #212121;
      }
    }
  }
}
