@use '../utils/mixins';

app-sidebar-search {
  @include mixins.normalize-angular-component(flex);
  @include mixins.vertically-center;

  & > mat-icon {
    background-color: white;
    color: black;
  }

  & > input {
    height: 24px;
    padding: 0 0 0 10px;
    margin: 0;
    border: none;
    &:focus {
      outline: none;
    }
  }
}
