@use '../utils/mixins';

app-sidebar-sorter {
  display: inline-flex;
  align-items: center;
  @include mixins.vertically-center;
  .sort-by-label {
    margin-right: 5px;
  }
  .arrow-container {
    mat-icon {
      display: block;
      font-size: 23px;
      height: unset;
      width: unset;
      line-height: 10px;
      cursor: pointer;
    }
  }
}
