@use '../utils/mixins';

app-tree-list {
  mat-tree {
    // -------------Lists need lots of styling for this----------------
    // Modify both lists and entries
    ul,
    li {
      margin-top: 0;
      margin-bottom: 0;
      list-style-type: none;
    }

    // Shift in for each nested list
    ul {
      padding-left: 20px;
    }

    // As part of Angular Materials tree control
    // there are li not contained within a ul
    // this will style only those that are. I.E
    // li found in categories
    ul li {
      border-left: 1px solid var(--list-border-color, lightgray);
    }

    // This narrows down the bottom border to just
    // li that act as a category header
    mat-nested-tree-node > li {
      border-bottom: 1px solid var(--list-border-color, lightgray);
    }

    // -------------End list styling----------------

    // .mat-tree-node applies to categories
    // and leaf node entries
    .mat-tree-node {
      @include mixins.vertically-center;
      min-height: var(--list-entry-height, 40px) !important;
      height: var(--list-entry-height, 40px) !important;

      button {
        margin-right: 5px;
      }
    }

    // Just the category content
    .mat-tree-category {
      font-size: var(--expandable-list-category-font-size, 14px);
      font-weight: 500;
      color: var(--expandable-list-category-font-color, #212121);

      .category-label {
        width: 100%;
        height: 100%;
        @include mixins.vertically-center;
      }
    }

    .expand-toggle {
      font-size: 18px;
      margin-bottom: 3px;
      font-weight: bolder;
    }

    mat-checkbox {
      margin-right: 10px;
      margin-bottom: 3px;

      .mat-checkbox-frame {
        border-color: var(--expandable-list-category-font-color, #212121);
      }
    }
  }
}
