<span class="sort-by-label">Sort by: </span>
<span>{{ selectedSortType }}</span>
<span class="arrow-container">
  <mat-icon class="up" (click)="selectedSortType = sortTypes.alphabetical">
    arrow_drop_up
  </mat-icon>
  <mat-icon class="down" (click)="selectedSortType = sortTypes.priority">
    arrow_drop_down
  </mat-icon>
</span>
