<app-list-container>
  <div id="header-content">
    <mat-checkbox
      color="primary"
      [checked]="allSelected"
      [indeterminate]="someSelected && !allSelected"
      *ngIf="canSelect"
      (change)="changeAll()"
    >
    </mat-checkbox>
    <span [title]="title">
      {{ title }}
    </span>
  </div>
  <div id="list-body">
    <app-tree-list
      [dataSource]="dataSource"
      [treeControl]="treeControl"
      [canSelect]="canSelect"
      [visibilityMask]="false"
      [nodeLayout]="nodeLayout"
      [categoryLayout]="categoryLayout"
      (changeTree)="changeTree($event)"
      (selectNode)="selectNode($event)"
    ></app-tree-list>
  </div>
</app-list-container>
