<!--
  Framing component that provides common layout pattern
  for multiple types of list-like layouts.

  See corresponding SCSS component for what aspects
  of appearance are supplied.
-->
<section class="header">
  <ng-content select="#header-content"></ng-content>
</section>
<section class="body">
  <ng-content select="#list-body"></ng-content>
</section>
