<ng-template #defaultCategoryLayout let-node>
  {{ node?.display }}
</ng-template>

<ng-template #defaultLeafNodeLayout let-node>
  {{ node?.display }}
</ng-template>

<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for expandable nodes -->

  <mat-nested-tree-node
    [class.invisible]="
      visibilityMask && !canSelect && !node.selected && !node.someSelected
    "
    *matTreeNodeDef="let node; when: hasChild"
  >
    <li>
      <!-- Actual node is here -->
      <!-- Ripple doesn't work without elevation -->
      <div
        mat-elevation-z1
        matRipple
        [matRippleTrigger]="trigger"
        class="mat-tree-node mat-tree-category"
      >
        <button
          mat-icon-button
          matTreeNodeToggle
          [attr.aria-label]="'Toggle ' + node.display"
        >
          <mat-icon class="expand-toggle">
            {{ treeControl.isExpanded(node) ? 'remove' : 'add' }}
          </mat-icon>
        </button>
        <mat-checkbox
          color="primary"
          (change)="changeTree.emit(node)"
          [checked]="node.selected"
          [indeterminate]="node.someSelected && !node.selected"
          *ngIf="canSelect"
        >
        </mat-checkbox>
        <div #trigger class="category-label" matTreeNodeToggle>
          <ng-container
            *ngTemplateOutlet="
              categoryLayout ? categoryLayout : defaultCategoryLayout;
              context: { $implicit: node }
            "
          ></ng-container>
        </div>
      </div>

      <!-- Nested content is here -->
      <ul [class.invisible]="!treeControl.isExpanded(node)">
        <ng-container matTreeNodeOutlet></ng-container>
      </ul>
    </li>
  </mat-nested-tree-node>

  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node
    [class.invisible]="
      visibilityMask && !canSelect && !node.selected && !node.someSelected
    "
    *matTreeNodeDef="let node"
    matTreeNodeToggle
  >
    <li class="mat-tree-node">
      <!-- use a disabled button to provide padding for tree leaf -->
      <!-- as demonstrated on Angular Material website -->
      <button mat-icon-button disabled></button>
      <mat-checkbox
        color="primary"
        *ngIf="canSelect"
        [checked]="node.selected"
        (change)="selectNode.emit(node)"
      ></mat-checkbox>
      <ng-container
        *ngTemplateOutlet="
          nodeLayout ? nodeLayout : defaultLeafNodeLayout;
          context: { $implicit: node }
        "
      ></ng-container>
    </li>
  </mat-tree-node>
</mat-tree>
