// The following list shows the CSS properties
// available for modifying the appearance
// of various aspects of lists and sidebars
// The currently assigned values are the fallback
// values used when the property is not set by the
// consumer of the component
//
//:root {

//   --list-border-color:lightgray;
//   --list-entry-height: 40px;

//   --list-header-background-color: #212121;
//   --list-header-font-color: white;
//   --list-header-font-size: 16px;
//   --list-header-height: 50px;

//   --key-value-column-header-font-color: #494949;
//   --key-value-entry-font-color: #212121;
//   --key-value-entry-font-size: 14px;

//   --expandable-list-category-font-size: 14px;
//   --expandable-list-category-font-color: #212121;

// }

