@mixin normalize-angular-component($display: block) {
  display: $display;

  // Inherit from the container to enable proper overflow
  // as needed
  height: inherit;
  width: inherit;
}

// Prevent overflow and provide truncation for list column
// headers
@mixin clip-font-w-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin vertically-center {
  display: flex;
  align-items: center;
}

  @mixin clear-ul-style {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

