<ng-template #customNode let-node>
  <button mat-icon-button>
    <mat-icon>content_copy</mat-icon>
  </button>
  <span>{{node?.display}}</span>
</ng-template>
<ng-template #categoryNode let-node>
  <span>--------{{node?.display}}---------</span>
</ng-template>

<app-sidebar-list
  title="Sample sidebar List"
  (nodeSelected)="processNodeSelection($event)"
  (toggleAll)="processToggleAll($event)"
  [nodes]="treeList"
  [nodeLayout]="customNode"
  [categoryLayout]="categoryNode"
>
</app-sidebar-list>

<app-sidebar-list
  title="Sample sidebar expandable List"
  (nodeSelected)="processNodeSelection($event)"
  (toggleAll)="processToggleAll($event)"
  [nodes]="treeList"
>
</app-sidebar-list>

<div class="fixed-size-example">
  <app-sidebar-list
    title="Sample sidebar List with fixed size"
    (nodeSelected)="processNodeSelection($event)"
    (toggleAll)="processToggleAll($event)"
    [nodes]="treeList"
  >
  </app-sidebar-list>
</div>

<app-expandable-list
  title="Sample Expandable List"
  (nodeSelected)="processNodeSelection($event)"
  (toggleAll)="processToggleAll($event)"
  [canSelect]="false"
  [nodes]="treeList"
>
</app-expandable-list>

<app-expandable-list
  title="Sample Expandable List with selection"
  (nodeSelected)="processNodeSelection($event)"
  (toggleAll)="processToggleAll($event)"
  [nodes]="treeList"
>
</app-expandable-list>

<div class="fixed-size-example">
  <app-expandable-list
    title="Sample Expandable List with selection with fixed size"
    (nodeSelected)="processNodeSelection($event)"
    (toggleAll)="processToggleAll($event)"
    [nodes]="treeList"
  >
  </app-expandable-list>
</div>

<app-key-value-list
  keyLabel="Name"
  valueLabel="Value"
  [list]="list"
  title="Sample Non-Expandable List"
>
</app-key-value-list>
<div class="fixed-height-example">
  <app-key-value-list
    keyLabel="Name"
    valueLabel="Value"
    [list]="list"
    title="Sample Non-Expandable List, Fixed height example"
  >
  </app-key-value-list>
</div>
<div class="fixed-width-example">
  <app-key-value-list
    keyLabel="Name"
    valueLabel="Value"
    [list]="list"
    title="Sample Non-Expandable List, Fixed width example"
  >
  </app-key-value-list>
</div>
<div class="fixed-width-example">
  <app-key-value-list
    keyLabel="Name"
    valueLabel="Value"
    [list]="list"
    title="Sample Non-Expandable List, Fixed width example with Really Really long header text that is designed to make the header overflow onto the next line"
  >
  </app-key-value-list>
</div>
<div class="fixed-size-example">
  <app-key-value-list
    keyLabel="Name"
    valueLabel="Value"
    [list]="list"
    title="Sample Non-Expandable List, Fixed size example"
  >
  </app-key-value-list>
</div>
