<!--
  A specific implementation of a list layout
  This is designed to show key value information pairs
  using the shared appearance of other list-like elements

  See the design specifications for example scenarios
-->
<app-list-container>
  <div id="header-content">
    <b [title]="title">
      {{ title }}
    </b>
  </div>
  <div id="list-body">
    <div class="column-header">
      <b>{{ keyLabel }}</b>
      <b>{{ valueLabel }}</b>
    </div>
    <ul>
      <li *ngFor="let entry of list">
        <!-- text-overflow does not work with flex'ed elements -->
        <!-- the div nested in the span allows us to flex the spans -->
        <!-- and provide text-overflow directions on the div -->
        <span [title]="entry.key">
          <div>{{ entry.key }}</div>
        </span>
        <span [title]="entry.value">
          <div>{{ entry.value }}</div>
        </span>
      </li>
    </ul>
  </div>
</app-list-container>
