<app-list-container>
  <div id="header-content">
    <app-sidebar-sorter class="special-sort-picker"></app-sidebar-sorter>
    <!-- need the extra layer to attach borders -->
    <div class="visibility-menu-toggle">
      <button
        *ngIf="!visibilityMode"
        mat-icon-button
        (click)="visibilityMode = !visibilityMode"
      >
        <mat-icon> visibility </mat-icon>
      </button>
      <button
        *ngIf="visibilityMode"
        mat-mini-fab
        color="primary"
        (click)="visibilityMode = !visibilityMode"
      >
        <mat-icon> visibility </mat-icon>
      </button>
    </div>
    <div class="search-mode">
      <app-sidebar-search
        *ngIf="searchMode"
        class="custom-header-search"
      ></app-sidebar-search>
      <button
        *ngIf="!searchMode"
        (click)="searchMode = !searchMode"
        mat-icon-button
        class="search-toggle"
      >
        <mat-icon> search </mat-icon>
      </button>
      <button
        *ngIf="searchMode"
        (click)="searchMode = !searchMode"
        color="primary"
        mat-mini-fab
        class="search-toggle"
      >
        <mat-icon> search </mat-icon>
      </button>
    </div>
  </div>
  <div id="list-body">
    <app-tree-list
      [dataSource]="dataSource"
      [treeControl]="treeControl"
      [canSelect]="visibilityMode"
      [visibilityMask]="true"
      [nodeLayout]="nodeLayout"
      [categoryLayout]="categoryLayout"
      (changeTree)="changeTree($event)"
      (selectNode)="selectNode($event)"
    ></app-tree-list>
  </div>
</app-list-container>
